{% extends 'layout.html' %}
{% block content %}
{% load static %}
<header class="row  bg-black">
    <div class="col-md-4">
        <img src="{% static 'perfil.jpg' %}" alt="">
    </div>
    <div class="col-md-8 my-auto">
        <h1>I am <stron> Ghost hunter</stron></h1>
        <h3>El otro mundo en paz</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis velit temporibus modi quibusdam reiciendis libero eos, deserunt eligendi sequi illum unde eius harum doloribus ullam sapiente voluptatibus hic voluptas totam.</p>
        <a href="{% static 'curriculum.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3" target="_blank">Download CV</a>
    </div>
</header>

<div class="row my-4 text-center">
    <h1>Mis proyectos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit non similique iste aperiam maiores eius, sint saepe laudantium, dolore earum dignissimos qui pariatur ea aliquam est enim voluptate mollitia quas?</p>
    {% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card-project bg-black card">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
            <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                

                {% if project.url %}
                    <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm">{{project.url}}</a>
                {% endif %}
            </div>
        </div>
    </div> 
    {% endfor %}
    {% endblock %}
</div>
